html {
	font-family: "Muli", sans-serif;
	box-sizing: border-box;
	background-size: cover;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

/* CABEÇALHO */

header {
	height: 80px;
	background-color:#E6E6FA;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.icon-calendar {
	font-size: 50px;
}

#home, #schedule, #login {
	margin: 20px;
}

#home {
	border-radius: 100%;
	width: 60px;
	height: 60px;
	background-image: url("../assets/images/lab-logo.png");
	background-size: cover;
}

#home:hover {
	width: 62px;
	height: 62px;
}

#login {
	border-radius: 100%;
	width: 60px;
	height: 60px;
	background-image: url("../assets/images/profile-vanessa.jpg");
	background-size: cover;
	/*position: absolute;*/
	/*z-index: 1;*/
	/*border: 1px solid red;*/
}

/*MENU INVISÍVEL*/
#check {
	display: none;
}

#check:checked ~ .barra {
	transform: translateX(-160px);
	display: block;
}

.barra {
	background-color: #E6E6FA;
	height: 215px;
	width: 160px;
	position: absolute;
	right: -160px;
	/*transition: all .5s linear;*/
	display: none;
}

nav {
	width: 100%;
	position: absolute;
}

.link {
	padding: 18px;
	font-size: 12px;
	text-decoration: none;
	/*text-align: center;*/
	/*transition: .3s linear;*/
	color: black;
	border-bottom: 2px solid #9595EA;
}

.link:hover {
	background-color: #FFE521;
}

.myCount {
	font-weight: 700;
	text-align: center;
}

.icon-heart, .icon-cog, .icon-times {
	font-size: 16px;
	color: #9595EA;

}

/*SEÇÃO DE FILTRO SEDE E GERAÇÃO*/
.selectors {
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#localChoose {
	font-size: 24px;
	font-weight: 700;
}

#localMenu, #yearClassMenu {
	width: 200px;
	height: 35px;
	margin-top: 15px;
	border: 2px solid #9595EA;
	border-radius: 20px;
	font-size: 14px;
	text-align-last: center;
	text-align: center;
}

#continueButton {
	width: 100px;
	height: 35px;
	background-color: #FFE521;
	margin-top: 25px;
	border: none;
	border-radius: 20px;
	font-size: 16px;
	font-weight: 700;
}

/*RODAPÉ*/
footer {
	height: 50px;
	background-color:#E6E6FA;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#facebook, #instagram, #twitter {
	margin: 30px;
}

.icons {
	font-size: 30px;	
}

.iconsMargin {
	margin: 0px 40px;
}

a {
	text-decoration-line: none;
	color: #9595ea;
}