html {
	font-family: "Muli", sans-serif;
	box-sizing: border-box;
	background-size: cover;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	overflow-x: hidden;
}

/* CABEÇALHO */

header {
	height: 100px;
	background-color: #E6E6FA;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.alert-hidden {
	display: none;
}

.alert {
	background-color: #FFE521;
	width: 40%;
	height: 50px;
	font-size: 24px;
	font-weight: 700;
	display: flex;
	justify-content: center;
	margin: 50px 30% 20px 30%;
}

.alert-text {
	align-self: center;
}

.icon-calendar {
	font-size: 50px;
}

#home,
#schedule,
#login {
	margin: 20px;
}

#home {
	border-radius: 100%;
	width: 60px;
	height: 60px;
	background-image: url("../assets/images/lab-logo.png");
	background-size: cover;
}

#login {
	border-radius: 100%;
	width: 60px;
	height: 60px;
	background-image: url("../assets/images/profile-vanessa.jpg");
	background-size: cover;
	cursor: pointer;
	/* position: absolute; */
	/* z-index: 1; */
	/*border: 1px solid red;*/
}

/*MENU INVISÍVEL*/

#check {
	display: none;
}

#check:checked~.barra {
	transform: translateX(-160px);
	display: block;
}

.barra {
	height: 215px;
	width: 160px;
	position: absolute;
	right: -160px;
	/* transition: all .10s linear; */
	z-index: 500;
	display: none;
}

.hiddenNav {
	width: 100%;
	position: absolute;
	background-color: #E6E6FA;
}

.link {
	padding: 18px;
	font-size: 12px;
	text-decoration: none;
	z-index: 501;
	/*text-align: center;*/
	/* transition: .5s linear; */
	color: black;
	border-bottom: 2px solid #9595EA;
}

.link:hover {
	background-color: #FFE521;
}

.myCount {
	font-weight: 700;
	text-align: center;
}

.icon-heart,
.icon-cog,
.icon-times {
	font-size: 16px;
	color: #9595EA;
}

/* Submenu opções */

.submenu {
	height: 140px;
	background-color: lightgrey;
	display: grid;
}

.sedeSelected {
	display: flex;
	justify-content: center;
	margin-top: 15px;
}

.screenOption {
	font-size: x-large;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 30px;
}

.submenu h2 {
	font-size: xx-large;
	font-weight: bolder;
}

.submenu h3 {
	margin-right: 15px;
	color: black;
}

.submenu h3:hover {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bolder;
	border-bottom: 4px solid #F6BD00;
	cursor: pointer;
}

/*SEÇÃO DE FILTRO SEDE E GERAÇÃO*/

.selectors {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
	margin-top: 50px
}

#localChoose {
	font-size: 24px;
	font-weight: 700;
}

#localMenu,
#yearClassMenu {
	width: 200px;
	height: 35px;
	margin-top: 15px;
	border: 2px solid #9595EA;
	border-radius: 20px;
	font-size: 14px;
	text-align-last: center;
	text-align: center;
}

#continueButton {
	width: 100px;
	height: 35px;
	background-color: #FFE521;
	margin-top: 25px;
	border: none;
	border-radius: 20px;
	font-size: 16px;
	font-weight: 700;
}

#continueButton a {
	color: black;
}

/* Tela Estudantes */

.students {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 30px;
}

.setStudents {
	border: 4px solid lightgrey;
	border-radius: 25px;
	width: 60%;
	align-self: center;
	margin-bottom: 30px;
}

.setContainer {
	display: flex;
	justify-content: space-between;
	padding-left: 30px;
	padding-right: 30px;
}

.setNames {
	display: flex;
	justify-content: center;
	padding: 15px;
	font-size: x-large;
	font-weight: bolder;
}

.names {
	align-items: center;
}

img {
	height: 200px;
	width: 200px;
}

.setPhoto {
	padding-bottom: 20px;
}

.setScore {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.setScore p {
	padding: 2px;
}

.titleTech {
	font-weight: bold;
}

.titleHse {
	font-weight: bold;
}

.titleStatus {
	font-weight: bold;
}

.tech {
	padding: 5px;
	border: 2px solid black;
	border-radius: 5px;
	width: 80%;
	align-self: center;
}

.hse {
	padding: 5px;
	border: 2px solid black;
	border-radius: 5px;
	width: 80%;
	align-self: center;
}

.status {
	padding: 5px;
	border: 2px solid black;
	border-radius: 5px;
	width: 80%;
	align-self: center;
}

/*RODAPÉ*/

footer {
	height: 50px;
	background-color: #E6E6FA;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#facebook,
#instagram,
#twitter {
	margin: 30px;
}

.icons {
	font-size: 30px;
}

.iconsMargin {
	margin: 0px 40px;
}

a {
	text-decoration-line: none;
	color: #9595ea;
}

/*SCREEN 1--------------------*/

/*.divMix, .divActive, .divInactive {
	border: 1px solid red;
}*/

.mainNav {
	height: 50px;
	border: 1px solid yellow;
}

/*.activeStudents, .active, .inactive {
	border: 1px solid red;
}*/

/*SCREEN 1 - GRAFICOS*/

.directionGraphics {
	display: flex;
	flex-wrap: wrap;
}

.graphics {
	width: 400px;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 2px solid grey;
	margin: 10px;
}

.dateName1,
.dateName2,
.dateName3,
.dateName4,
.dateName5 {
	border: 1px solid blue;
	font-size: 20px;
	font-weight: 800;
	text-align: center;
	padding: 10px;
}

.dateDiv1,
.dateDiv2,
.dateDiv3 {
	display: flex;
	justify-content: space-around;
	margin: 5px;
}

.dateContainer,
	{
	width: 120px;
	height: 50px;
	border: 1px solid green;
}

#selectSprintTech,
#selectSprintHse {
	width: 80px;
	height: 30px;
	border-radius: 15px;
	text-align-last: center;
}

#qtdStdLegendTech {}